<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Orgid</th>
      <th>Subtype</th>
      <th>Submissiontype</th>
      <th>Substartdate</th>
      <th>Subenddate</th>
      <th>Filespecversion</th>
      <th>Resubmitno</th>
      <th>Load yn</th>
      <th>Load status</th>
      <th>Insdatetime</th>
      <th>Subcomments</th>
      <th>Asc cohorts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.orgId %></td>
        <td><%= submission.subType %></td>
        <td><%= submission.submissionType %></td>
        <td><%= submission.SubStartDate %></td>
        <td><%= submission.SubEndDate %></td>
        <td><%= submission.FileSpecVersion %></td>
        <td><%= submission.resubmitNo %></td>
        <td><%= submission.Load_YN %></td>
        <td><%= submission.Load_Status %></td>
        <td><%= submission.InsDateTime %></td>
        <td><%= submission.subcomments %></td>
        <td><%= submission.ASC_Cohorts %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
